@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  padding: 20px;
  font-family: "Rubik";
  color: #333;
  background: url('../assets/bgimg.jpg');
}
main {
  width: 600px;
  margin: 0 auto;
}
h1, h2, h3, header {
  text-align: center;
  color: #2c3e50;
}
header {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #3498db;
}
.tasks-list > button {
  width: 100px;
  margin: 20px auto;
  display: block;
  background-color: #3498db;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}
.tasks-list > button:hover {
  background-color: #2980b9;
}
.tasks-list ul {
  padding: 10px 20px;
  list-style-type: none;
  background: #ecf0f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tasks-list li {
  border-bottom: 1px solid #bdc3c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px  0;
}
.tasks-list li > div {
  margin-right: auto;
}
.tasks-list li:last-child {
  border: 0;
}
.tasks-list li h3, .tasks-list li p {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 4px;
}
.tasks-list li h3 {
  color: #2c3e50;
}
.tasks-list li p {
  color: #7f8c8d;
}
input, button {
  padding: 10px;
  font-family: "Rubik";
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  display: flex;
  gap: 10px;
  width: 100%;
}
form button {
  margin-left: auto;
  background-color: #3498db;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}
form button:hover {
  background-color: #2980b9;
}
form input {
  flex-grow: 1;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}
form input:focus {
  border-color: #3498db;
  outline: none;
}
.add-tasks-form {
  margin-top: 60px;
}
button {
  background: #3498db;
  color: white;
  border: 0;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #2980b9;
}
